{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header">
      <h1>Set Secret</h1>
      <p>
        Tyrion allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL.
      Share the one-time use URL with your intended recipient.
      </p>
      <p>
        Optionally you can enter an email and a message. That message will be sent as soon as your secret is seen (when the link is opened).
      </p>
    </div>
      <form role="form" id="password_create" method="post">
        <div class="row">
          <div class="col-sm-6 margin-bottom-10">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <textarea
                rows="10"
                cols="50"
                id="password"
                name="password"
                autofocus="true"
                class="form-control"
                placeholder="Secret here"
                aria-describedby="basic-addon1"
                autocomplete="off" ></textarea>
            </div>
          </div>

          <div class="col-sm-6 margin-bottom-10">
              <!--<div class="row">-->
                    <select class="form-control" name="ttl">
                      <option value="Quarter">Quarter</option>
                      <option value="Month">Month</option>
                      <option value="Week">Week</option>
                      <option value="Day">Day</option>
                      <option value="Hour">Hour</option>
                    </select>
              <!--</div>-->
              <!--<div class="row">-->
                <input type="text" class="form-control" name="email" placeholder="Your email" />
              <!--</div>-->
              <!--<div class="input-group">-->
                <textarea
                  rows="7"
                  cols="50"
                  id="message"
                  name="message"
                  autofocus="true"
                  class="form-control"
                  placeholder="Message to be sent to email"
                  aria-describedby="basic-addon1"
                  autocomplete="off" ></textarea>
              <!--</div>-->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 margin-bottom-10">
           <button type="submit" class="btn btn-primary center-block" id="submit">Generate URL</button>
          </div>
        </div>
      </form>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
